#root {
  overflow-x: hidden;
}

.app {
  background-color: #f7f7f7;
  width: 100%;
  min-height: 100vh;
}

@media (max-width: 500px) {
  .app{
    font-size: 0.55rem;
  }
}

.header {
  display: flex;
  align-items: center;
  height: 12vh;
  padding-left: 3vw;
  padding-right: 3vw;
  background-color: #4527a0;
  color: white;
  justify-content: space-between;
}

@media (max-width: 500px) {
  .header{
    height: 6vh;
  }
}


.header h3{
  cursor: pointer;
}


@media (hover:hover) {
  .header h3:hover{
    animation: blinkingAnimation 0.7s infinite;
  }
}

.content-section {
  display: flex;
  padding: 5vh 2vw 0 2vw;
  justify-content: flex-start;
  flex-wrap: wrap;
  position: relative;
  gap: 100px;
  
}

@media (max-width: 500px) {
  .content-section {
    gap: 40px;
    padding: 2.5vh 4vw 0 4vw;
  }
}

.target {
  position: absolute;
  bottom: 0;
  height: 30px;
  opacity: 0;
  width: 100%;
}

.card-container {
  width: 380px;
  min-width: 380px;
  background-color: white;
  border: 2px solid #e5e5e5;
  border-radius: 3%;
  box-shadow: 2px 2px 2px lightgray;
  padding: 20px 15px;
}

@media (max-width: 500px) {
  .card-container{
    min-width: 200px;
  }
}

.card-container .title {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-top: 0;
}

.card-container .sub-title {
  margin-bottom: 0;
  margin-top: 0.1rem;
  color: gray;
}


@keyframes blinkingAnimation {

  0%,
  100% {
    opacity: 1;
  }

  50% {
    opacity: 0;
  }
}

.loading {
  animation: blinkingAnimation 0.7s infinite;
}